@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-navy: #0B1E48;
  --color-gold: #C5A059;
  --color-gold-light: #E5C687;
}

body {
  @apply antialiased;
}
